//comman mixins

.checkout-button-pricing-summary {
  transition: all 1s;
  box-shadow: 0px 3px 6px rgb(57 55 55 / 16%);
}

.checkout-button-pricing-summary[style="opacity: 1;"]:hover {
  color: var(--unnamed-color-e26a2c);
  background: var(--white) 0% 0% no-repeat padding-box;

  #Rectangle_1590,
  #Path_38020 {
    stroke: var(--unnamed-color-e26a2c);
  }
}

.pay-pal-img-pricing-summary {
  box-shadow: 0px 3px 6px rgb(57 55 55 / 16%);
  border-radius: 20px;
}

//mobile mixins

@mixin mobMainPricingSummary {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  gap: 0.5em;
}

@mixin mobTitlePriSum {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600)
    var(--unnamed-font-size-20) / var(--unnamed-line-spacing-30)
    var(--unnamed-font-family-muli);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-172026);
  text-align: left;
  opacity: 1;
  margin: 15px 0;
}

@mixin mobLabPriSum {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-16) /
    var(--unnamed-line-spacing-24) var(--unnamed-font-family-muli);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-172026);
  text-align: left;
  opacity: 1;
}

@mixin mobValuePriSum {
  float: right;
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-16) /
    var(--unnamed-line-spacing-24) var(--unnamed-font-family-muli);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-172026);
  text-align: right;
  opacity: 1;
}

@mixin mobLabTotPriSum {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-16) / var(--unnamed-line-spacing-24)
    var(--unnamed-font-family-muli);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-172026);
  text-align: left;
  opacity: 1;
}

@mixin mobValTotPriSum {
  float: right;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-16) / var(--unnamed-line-spacing-24)
    var(--unnamed-font-family-muli);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-172026);
  text-align: right;
  opacity: 1;
}

@mixin mobCheckBtnPriSum {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-14) / 16px var(--unnamed-font-family-muli);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--white);
  text-align: center;
  text-transform: uppercase;
  opacity: 1;
  background: var(--unnamed-color-e26a2c);
  border: 2px solid #d4703d;
  opacity: 1;
}

//desktop mixins

@mixin deskMainPriSum {
  padding: 5% 10%;
  background: var(--white) 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 8px #0000000d;
  border: 1px solid #d1d3d6;
  border-radius: 2px;
  opacity: 1;
}

@mixin deskTitPriSum {
  padding: 5% 0;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600)
    var(--unnamed-font-size-20) / var(--unnamed-line-spacing-25)
    var(--unnamed-font-family-muli);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-172026);
  text-align: left;
  opacity: 1;
}

@mixin deskLabPriSum {
  padding: 2% 0%;
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-16) /
    var(--unnamed-line-spacing-24) var(--unnamed-font-family-muli);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-172026);
  text-align: left;
  letter-spacing: 0px;
  opacity: 1;
}

@mixin deskLabTotPriSum {
  padding: 4% 0%;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-16) / var(--unnamed-line-spacing-24)
    var(--unnamed-font-family-muli);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-172026);
  text-align: left;
  opacity: 1;
}

@mixin deskCheBtnPriSum {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-14) / 16px var(--unnamed-font-family-muli);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--white);
  text-align: center;
  text-transform: uppercase;
  opacity: 1;
  background: var(--unnamed-color-e26a2c);
  border: 2px solid #d4703d;
  opacity: 1;
}

//mobile and tablet view
@media all and (min-width: 320px) and (max-width: 768px) {
  .main-pricing-summary {
    @include mobMainPricingSummary;

    .title-pricing-summary {
      @include mobTitlePriSum;
    }

    .label-pricing-summary {
      @include mobLabPriSum;
    }

    .value-pricing-summary {
      @include mobValuePriSum;
    }

    .label-total-pricing-summary {
      @include mobLabTotPriSum;
    }

    .value-total-pricing-summary {
      @include mobValTotPriSum;
    }

    .checkout-pricing-summary,
    .img-pricing-summary {
      text-align: center;
    }

    .checkout-button-pricing-summary {
      @include mobCheckBtnPriSum;
    }

    .checkout-button-pricing-summary,
    .pay-pal-img-pricing-summary {
      width: 244px;
      height: 38px;
      margin: 5px 0;
      cursor: pointer;
    }

    .span-button {
      position: relative;
      bottom: 5px;
      margin: 0 5px;
    }
  }
}

//Desktop view
@media all and (min-width: 769px) {
  .main-pricing-summary {
    @include deskMainPriSum;
  }

  .title-pricing-summary {
    @include deskTitPriSum;
  }

  .label-pricing-summary {
    @include deskLabPriSum;
  }

  .value-pricing-summary,
  .value-total-pricing-summary {
    float: right;
  }

  .label-total-pricing-summary {
    @include deskLabTotPriSum;
  }

  .checkout-pricing-summary,
  .img-pricing-summary {
    text-align: center;
  }

  .checkout-button-pricing-summary {
    @include deskCheBtnPriSum;
  }

  .checkout-button-pricing-summary,
  .pay-pal-img-pricing-summary {
    width: 100%;
    height: 38px;
    margin: 5px 0;
    cursor: pointer;
  }

  .span-button {
    position: relative;
    bottom: 5px;
    margin: 0 5px;
  }
}
